<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="memedump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="memedump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <memedump.Properties.Settings>
      <setting name="vkLogin" serializeAs="String">
        <value>79164323262</value>
      </setting>
      <setting name="vkPassword" serializeAs="String">
        <value>strimtv2</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>57da846be4093a126adc01a970a971b2fd699fca108fda53090dd41a180385988775854c6b0da7c88d602</value>
      </setting>
      <setting name="apiToken" serializeAs="String">
        <value>754943002:AAGsxwDMSNARD0M11iG_z9PkgK-NlWUqttU</value>
      </setting>
      <setting name="chatId" serializeAs="String">
        <value>-1001488894222</value>
      </setting>
      <setting name="PostCount" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="mindelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="maxdelay" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="groupsfilepath" serializeAs="String">
        <value>groupsid.txt</value>
      </setting>
    </memedump.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <memedump.Properties.Settings>
      <setting name="erasecount" serializeAs="String">
        <value>1000</value>
      </setting>
    </memedump.Properties.Settings>
  </applicationSettings>
</configuration>